header {
    background-image: url(file:///C:/classe34/html-css-booleaner/img/pattern.png);
    background-color: cornflowerblue;
}

#logo {
    height: 200px;
    width: 200px;
}

/* Titolo */
h1 {
    font-size: 50px;
}

.info {
    color: grey;
}

#booleaner {
    color: deepskyblue;
}

#foto-testo {
    font-size: 10px;
}

/* Parti sottolineate */
.sottolineato {
    background-color: yellow;
}

/* Colorazione tabella */
thead {
    background-color: deepskyblue;
}

.riga-colorata {
    background-color: skyblue;
}

/* Pubblicità */

footer {
    font-weight: 600;
}

#pubscritta {
    color: grey;
    font-size: 20px;
}

.pubuno {
    background-image: url(file:///C:/classe34/html-css-booleaner/img/monitor.jpg);
    width: 300px;
    height: 200px;
    font-size: 30px;
    color: white;
}

.pubdue {
    background-image: url(file:///C:/classe34/html-css-booleaner/img/graph.jpg);
    width: 300px;
    height: 200px;
    font-size: 30px;
    color: white;
}