header {
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
}

#logo {
    height: 200px;
    width: 200px;
}

/* Titolo */
h1 {
    font-size: 50px;
}

.info {
    color: grey;
}

#booleaner {
    color: deepskyblue;
}

#foto-testo {
    font-size: 10px;
}

/* Parti sottolineate */
.sottolineato {
    background-color: yellow;
}

/* Grandezza tabella */
table {
    table-layout: fixed;
    width: 100%;
}

.prima-colonna {
    width: 25%;
}

.seconda-colonna {
    width: 25%;
}

.terza-colonna {
    width: 50%;
}

/* Colorazione tabella */
thead {
    background-color: deepskyblue;
    color: white;
}

.riga-colorata {
    background-color: skyblue;
}

/* Pubblicità */

footer {
    font-weight: 600;
}

#pubscritta {
    color: grey;
    font-size: 20px;
}

.pubuno {
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    font-size: 30px;
    color: white;
}

.pubdue {
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    font-size: 30px;
    color: white;
}